{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit {{ entry }}
{% endblock %}

{% block body %}
    <h1>Edit Entry</h1>


    <form action="{% url 'save' %}" method="POST">
        {% csrf_token %}
        <p><input class="" type="text" name="entry" value="{{ entry }}" autofocus required></p>
        <textarea class="" id="content" name="content" rows="4" cols="50" maxlength="1000" value="{{ content }}" required>{{ content }}</textarea>
        <p><input class="submit" type="submit" value="Save"></p>
    </form>


{% endblock %}